<!DOCTYPE html>
<html>
<head>
    <title>Mi Proyecto</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'acerca_de_mi' %}">Acerca de mí</a></li>
            <li><a href="{% url 'crear_publicacion' %}">Crear Publicación</a></li>
            <li><a href="{% url 'buscar' %}?q=">Buscar</a></li>
            <li><a href="{% url 'registrar' %}">Registrar</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>